nav li{
    list-style: none; 
    display: inline;
    margin-right: 10px;
}
nav li:hover{
    background-color: rgb(13, 16, 192);
}
nav li a{
    text-decoration: none;
    color: azure;
}
footer{
    text-align: center;
}